bash ./core/target/appassembler/bin/galago batch-search --requested=10 --index=/home/imackie/Documents/trec_car/index/galago_paragraphs --query="test me" --verbose=true


# BM25 #
##############################

bash ./core/target/appassembler/bin/galago batch-search --defaultTextPart=postings.krovetz test_bm25.json

config.json = 
{
	"verbose"   : true,
     	"casefold"  : true,
      	"requested" : 10,
      	"index"     : "/home/imackie/Documents/trec_car/index/galago_paragraphs",
      	"rmstopwords" : "rmstop",
      	"rmStemmer" : "org.lemurproject.galago.core.parse.stem.KrovetzStemmer",
      	"queries" : [
        {
          	"number" : "1",
          	"text" : "#combine(#bm25(six) #bm25(survivors))"
        }
      	]
}
# BM25+RM3 #
##############################

galago batch-search --defaultTextPart=postings.krovetz test_bm25_rm3.json

config.json = 
{
	"verbose"   : true,
     	"casefold"  : true,
      	"requested" : 10,
      	"index"     : "/home/imackie/Documents/trec_car/index/galago_paragraphs",
      	"relevanceModel" : "org.lemurproject.galago.core.retrieval.prf.RelevanceModel3",
      	"fbDocs" : 10,
      	"fbTerm" : 10,
      	"fbOrigWeight" : 0.5,
      	"rmstopwords" : "rmstop",
      	"rmStemmer" : "org.lemurproject.galago.core.parse.stem.KrovetzStemmer",
      	"queries" : [
        {
          	"number" : "1",
          	"text" : "#rm(six survivors))"
        }
      	]
}

# QL #
##############################

galago batch-search --defaultTextPart=postings.krovetz --mu=1000 test_ql.json

bash ./core/target/appassembler/bin/galago batch-search --mu=1000 test_ql.json
config.json = 
{
	"verbose"   : true,
     	"casefold"  : true,
      	"requested" : 10,
      	"index"     : "/home/imackie/Documents/trec_car/index/galago_paragraphs",
      	"rmstopwords" : "rmstop",
      	"rmStemmer" : "org.lemurproject.galago.core.parse.stem.KrovetzStemmer",
      	"queries" : [
        {
          	"number" : "1",
          	"text" : "#combine(#dirichlet(six) #dirichlet(survivors))"
        }
      	]
}

